body {
  font-family: Helvetica Neue, Arial, sans-serif;
  background-color: #ffc107;
}

#container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  padding-top: 4em;
}

.container-h-1 {
  padding-top: 2em;
  max-width: 100%;
  display: flex;
  justify-content: center;
}

.btn2 {
  display: flex;
  justify-content: center;
  padding: 1em;
}

.btn:hover {
  background-color: #0d6efd;
}

.fade-in-down {
  animation: fade-in-down 2s ease 1;
}
@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.abc,
.inputCheck {
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 0.5em;
}

#boxFiltering {
  height: 18px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 1em;
}

#checkbox {
  width: 1.5em;
}

.searchBox {
  display: flex;
  justify-content: center;
  padding-bottom: 1em;
}

#regions:hover {
  border-color: #0d6efd;
}

.searchB:hover {
  border-color: #0d6efd;
}

.searchB,
#regions {
  border: solid 3px #0584fc;
  border-radius: 5px;
  width: 10em;
  text-align: center;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-title,
.btn,
.btn-primary {
  text-align: center;
}

.container {
  padding: 50px;
  transition: transform 0.2s; /* Animation */
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.card:hover {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.myModal {
  /* display: none; */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
.myModal-content {
  text-align: center;
  padding: 2em;
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
}

#closeModal {
  margin-top: 2em;
}

.close {
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
