body {
  font-family: Helvetica Neue, Arial, sans-serif;
  background-color: #ffc107;
}

#container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  padding-top: 4em;
}

.container-h-1 {
  padding-top: 2em;
  max-width: 100%;
  display: flex;
  justify-content: center;
}

.btn2 {
  display: flex;
  justify-content: center;
  padding: 1em;
}

.btn:hover {
  background-color: #0d6efd;
}

.fade-in-down {
  animation: fade-in-down 2s ease 1;
}
@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.abc,
.inputCheck {
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 0.5em;
}

#boxFiltering {
  height: 18px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 1em;
}

#checkbox {
  width: 1.5em;
}

.searchBox {
  display: flex;
  justify-content: center;
  padding-bottom: 1em;
}

.searchB:hover {
  border-color: #0d6efd;
}

.searchB {
  border: solid 3px #0584fc;
  border-radius: 5px;
  width: 10em;
  text-align: center;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-title,
.btn,
.btn-primary {
  text-align: center;
}
