body {
  font-family: Helvetica Neue, Arial, sans-serif;
  background-color: #ffc107;
}

.container {
  max-width: 100%;
  display: flex;
  justify-content: center;
}

.btn {
  /* border: solid 2px black; */
  width: 20%;
  text-align: center;
  border-radius: 5px 5px 5px 5px;
  background-color: #0d6efd;
}

.btn2 {
  display: flex;
  justify-content: center;
}

.fade-in-down {
  animation: fade-in-down 2s ease 1;
}
@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
