body {
  font-family: Helvetica Neue, Arial, sans-serif;
  background-color: #ffc107;
}

#container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.container-h-1 {
  padding-top: 2em;
  max-width: 100%;
  display: flex;
  justify-content: center;
}

.btn2 {
  display: flex;
  justify-content: center;
  padding: 1em;
}

.btn:hover {
  background-color: #0d6efd;
}

.fade-in-down {
  animation: fade-in-down 2s ease 1;
}
@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

#boxFiltering {
  display: flex;
  justify-content: center;
}

.searchBox {
  display: flex;
  justify-content: center;
  padding-bottom: 1em;
}

.searchB {
  border: solid 2px #0584FC;
  border-radius: 5px;
  width: 20%;
}