
#tableBody {
    border: solid black 1px;
}

.btn, .button-primary {
    width: 100%;
}

.fade-in-down {
  animation: fade-in-down 2s ease 1;
}
@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

h1 {
  padding: 0.7em;
}